.button{
    -fx-background-color: Transparent;
    -fx-border-radius: 20;
}
.button:hover{
    -fx-background-color: #97CC3F;
    -fx-border-radius: 20;
    -fx-text-fill: #FFFFFF;
}
.buttonClose{
    -fx-background-color: Transparent;
}
.buttonClose:hover{
    -fx-background-color: #E81123;
}
.buttonMini{
    -fx-background-color: Transparent;
}
.buttonMini:hover{
    -fx-background-color: #E5E5E5;
}
.backgroundPane{
    -fx-background-color: #FFFFFF;
}